/* Reset global */
body {
  height: 100%;
  font-family: "-apple-system , BlinkMacSystemFont, Segoe UI, Montserrat, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  background-color: #129238;
  border: none;
  border-radius: 25px;
  max-width: 80px;
  width: 100%;
  color: WHITE;
  height: 30px;
  cursor: pointer;
}
/* Header */

header {
  background-color: #145c2a;
  width: 100%;
  height: 80px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.navigation__bar ul {
  display: flex;
  align-items: center;
}
.navigation__bar ul li {
  list-style: none;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.navigation__bar ul li:hover {
  background-color: #129238;
  cursor: pointer;
}
.active {
  background-color: #129238;
}

.navigation__bar ul li a {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: Montserrat;
  text-decoration: none;
  color: white;
}
.social__media {
  display: flex;
  align-items: center;
}
.social__media li {
  list-style: none;
}
.social__media li img {
  width: 16px;
  height: 16px;
}
.social__media li:not(:first-child) {
  margin-left: 1.6rem;
}
.navigation__bar--associe {
  font-size: 1.6rem;
  font-family: Montserrat;
  color: white;
  padding-right: 10px;
  font-weight: 300;
  display: block;
  position: relative;
}
.navigation__bar--associe::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 2px;
  display: block;
  background-color: #104921;
  opacity: 0.2;
  left: -10px;
  top: -32px;
}

.navigation__bar--associe::before {
  position: absolute;
  content: "";
  height: 80px;
  width: 2px;
  display: block;
  background-color: #104921;
  opacity: 0.2;
  right: 0px;
  top: -32px;
}
.hero__banner--area {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
.hero__banner--area img {
  flex: 1;
}
.restaurant__janga {
  margin-bottom: 28px;
}
.pagination__area {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination__area .pagination {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #707070;
}
.pagination.--active {
  background-color: #129238;
}
.pagination__area .pagination:not(:first-child) {
  margin-left: 5px;
}
.header__principal {
  display: flex;
  justify-content: space-between;
}
.benefits {
  flex: 1;
  margin-left: 27px;
}
.header__principal h1 {
  margin-bottom: 14px;
}
.subtilte__description {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Montserrat;
  color: #000;
  margin-top: 6px;
}
.subtitle__title {
  font-size: 1.7rem;
  color: #145c2a;
  font-weight: 400;
  font-family: Montserrat;
  margin-top: 10px;
}
/* principal */
.principal__container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Company */
.company-area {
  background-color: #f7f7f7;
  height: 150px;
}

.company-container {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.company-container img {
  max-width: 280px;
}
.company__button {
  max-height: 40px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  color: #129238;
  border: 3px solid #129238;
  max-width: 330px;
  padding: 22px 34px;
  cursor: pointer;
  background-color: transparent;
}

.company__button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.company__button span {
  padding-top: 5px;
}
/* Types */
.card__type img {
  max-width: 50px;
}
.row.row__types > * {
  flex: 1 1 150px;
}
.types-area {
  background-color: #f5fbf7;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
}
.card__type {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
  color: #000000;
}
.card__type h2 {
  font-size: 1.8rem;
  color: #145c2a;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}
.card__type p {
  font-size: 1.4rem;
}
/* Noticias */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.row > * {
  flex: 1 1 250px;
}
.card:not(:first-child) {
  margin-left: 20px;
}
.notice-area {
  font-family: Montserrat;
}

.title-section {
  font-family: Montserrat;
  font-weight: 300;
  color: #145c2a;
  font-size: 3rem;
}
.header__notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}
.card p {
  font-size: 1.6rem;
  color: #145c2a;
  margin-top: 10px;
}

.card .date {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  display: block;
}
/* Companys */
.sinmed-background {
  background: url(../assets/images/sinmed.png) center center no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 15px;
  padding: 15px;
  position: relative;
  padding-top: 70px;
  flex-direction: COLUMN;
  justify-content: space-between;
  display: flex;
  max-height: 158px;
}
.campanhas {
  margin-right: 32px;
}
.campanhas h1,
.unimed h1 {
  margin-bottom: 1.3rem;
}
.mini-banners {
  margin-top: 3.3rem;
}
.sinmed-background img {
  max-width: 125px;
}
.subtitle-green {
  color: #145c2a;
  font-size: 1.6rem;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle-white {
  text-transform: uppercase;
  margin-left: 0.5rem;
  color: white;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: bold;
}
.float-sinmed {
  position: absolute;
  top: 0px;
  color: white;
  max-width: 280px;
  font-weight: medium;
  background-color: rgba(20, 92, 42, 0.8);
  padding: 11px;
  left: 15px;
  border-radius: 0 0 5px 5px;
}
.float-sinmed p {
  font-family: Montserrat;
  font-size: 1.6rem;
}

/* Contact */
.contact {
  background-color: #145c2a;
  padding-top: 31px;
  padding-bottom: 31px;
  margin-top: 90px;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__info {
  max-width: 100px;
  color: white;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.4rem;
}

.contact__days {
  display: flex;
  align-items: center;
}
.contact__days li:not(:first-child) {
  margin-left: 26px;
}
.contact__days li p {
  font-family: Montserrat;
  font-weight: 400;
  color: white;
  font-size: 1.4rem;
  max-width: 175px;
  margin-left: 15px;
}
.contact__days li div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  width: 72px;
}
.day {
  font-size: 3rem;
  color: #145c2a;
  font-weight: medium;
  font-family: Montserrat;
}
.month {
  font-size: 1.2rem;
  color: #145c2a;
  font-weight: 300;
  font-family: Montserrat;
}
.contact__days li {
  display: flex;
  align-items: center;
  list-style: none;
}

/* location */
.location {
  background-color: #057433;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location__container {
  display: flex;
  justify-content: space-between;
}

.map {
  display: flex;
}
.map img {
  max-width: 150px;
}

.map span {
  font-size: 1.2rem;
  max-width: 340px;
  font-weight: 400;
  font-family: Montserrat;
  color: white;
  margin-left: 2.4rem;
}

.last__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.last__footer img {
  max-width: 110px;
}
.last__footer small {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Montserrat;
  color: #000;
}

/* MEDIA */
@media screen and (max-width: 1146px) {
  .principal__container {
    flex-direction: column;
  }
  .hero__banner--area {
    max-width: initial;
  }
  .hero__banner--area p {
    margin-bottom: 20px;
  }
  .benefits {
    margin-left: 0px;
  }
  .navigation__desktop {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .company-container {
    flex-direction: COLUMN;
  }
  .company-container img {
    max-width: 150px;
  }
  .company__button {
    padding: 15px;
  }
}

@media screen and (max-width: 536px) {
  .campanhas {
    margin-right: 0px;
  }
  .unimed {
    margin-top: 10px;
  }
}

@media screen and (max-width: 817px) {
  .contact__container {
    flex-direction: column;
  }
  .contact__info {
    max-width: 400px;
    text-align: center;
    margin-bottom: 1.4rem;
  }
  .contact__days {
    flex-direction: column;
  }
  .contact__days li:not(:first-child) {
    margin-top: 1.6rem;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1076px) {
  .card:nth-child(4) {
    margin-top: 1.6rem;
    margin-left: 0px;
  }
}
@media screen and (max-width: 826px) {
  .row__mobile {
    flex-direction: column;
  }
  .card:not(:first-child) {
    margin-top: 1.6rem;
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  .row__types {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .location__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__social {
    margin-top: 1.6rem;
  }
  .last__footer {
    flex-direction: column;
  }
  .last__footer img {
    margin-top: 1.6rem;
  }
}

/* MENU */
.menu {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.hamburguer {
  position: relative;
  display: block;
  background-color: white;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: white;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

.navigation__mobile {
  position: absolute;
  background-color: #145c2a;
  top: 70px;
  left: 22px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s, opacity 0.5s linear;
}

.active-menu {
  visibility: visible;
  opacity: 1;
}

.navigation__mobile ul li {
  list-style: none;
  padding: 10px;
}

.navigation__mobile ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: Montserrat;
}
